header{
	margin-left: auto;
	margin-right: auto;	
}

#enTete{
	width: 950px;
	height: 50px;
	margin-right: auto;
	margin-left: auto;
}

.TitreSite{
	text-align: center;
	font-size: 30px;
	font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
}
.sousTitre{
	margin-top: 10px;
	font-style : italic;
	text-align: center;
	font-size: 20px;
	font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
	color: #6687BB;
	padding-bottom: 10px;
}

#menu {  
    padding: 0; 
    margin-left: auto;
	margin-right: auto;
    width: 100%;
    background-color: #222222;
    border-bottom: 5px solid #6687BB;
    font-size: 17px;
}  

ul {
	width: 907px;
	padding:0;
	margin:0;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	list-style-type:none;
 }
li {
	display: inline-block;
 }
ul li a {
	 display:block;
	 float:left;   
	 width: 170px;
	 line-height:40px; /*hauteur de l'image de fond*/
	 color:#DCDCDC;
	 text-decoration:none;
	 text-align:center;
 }
ul li a:hover {
	 color:#BC9E49;
 }  


#menu a.curent{
	color: #6AD8DC;
}